<html>

<!--
 ____                            _ _     _____     _ _        
/ ___| _   _ _ __ ___  _ __ ___ (_) |_  |_   _|_ _| | | _____ 
\___ \| | | | '_ ` _ \| '_ ` _ \| | __|   | |/ _` | | |/ / __|
 ___) | |_| | | | | | | | | | | | | |_    | | (_| | |   <\__ \
|____/ \__,_|_| |_| |_|_| |_| |_|_|\__|   |_|\__,_|_|_|\_\___/
Like looking under the hood? Email me at aramesh.sj@mysummitps.org

-->
	<head>
		<title>Summit Talks | Rooms</title>
	</head>
	<body>
		<link rel="stylesheet" href="/css/landing.css"></link>
			
			<div class="summit-talks-header">
				<span class="title">
					Summit Talks (<%- version %>)
				</span>
			</div>

			<a href="/auth/google"class="login-google">
				<span class="login-text">Login with Google</span>
			</a>
	</body>
</html>
