/*BOURBON*/
@import '../bourbon/bourbon';

/*GOOGLE FONTS*/
@import url(https://fonts.googleapis.com/css?family=Lato);

/*VARS*/
$sidebar-width: 250px;
$talk-header-height-grow: 50px;
$talk-header-height-shrink: 40px;
$device-max: 700px;
$device-min: 701px;
$font: 'Lato','sans-serif';
/*MIXINS*/


/*KEYFRAMES*/

@include keyframes(sidebarShow){
	from{
		left: -$sidebar-width;
	}
	to{
		left: 0;
	}
}

@include keyframes(sidebarHide) {
	from{
		left: 0;
	}
	to{
		left: -$sidebar-width;
	}
}

@include keyframes(talkContainerGrow){
	from{
		@include calc(width, "100% - #{$sidebar-width}");
	}
	to{
		width: 100%;
	}
}

@include keyframes(talkContainerShrink) {
	from{
		width: 100%;
	}
	to{
		@include calc(width, "100% - #{$sidebar-width}");
	}
}

@include keyframes(entityEnter){
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}


@include keyframes(talkStreamButtonHover){
	from{
		background-color: #bdc3c7;
	}
	to{
		background-color: #AAB0B3;
	}
}

@include keyframes(brandingExpand){
	from{
		height: 50px;
	}
	to{
		height: 100px;
	}
}

@include keyframes(brandingContract){
	from{
		height: 100px;
	}
	to{
		height: 50px;
	}
}

body{
	margin:0;
	padding:0;	
}

a{
	cursor: hand;
	color: white;
}

.hidden{
	display: none;
}

h1{
	padding: 0px;
	margin: 0px;
}

.wrap {
	//@extend body;
}

.sidebar {
	width: $sidebar-width;
	height: 100%;
	background-color: #446CB3;
	position: absolute;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;

	@media (min-width: $device-min){
		@include animation(sidebarShow 0.5s forwards ease-out);
	}
	@media (max-width: $device-max){
		@include animation(sidebarHide 0.5s forwards ease-out);
	}

	.sidebar-branding{
		width: 100%;
		height: 50px;
		background-color: #22313F;
		text-align: center;
		@include animation(brandingContract 0.2s forwards ease-out);


		.sidebar-link{
			text-decoration: none !important;
		}

		.sidebar-branding-text{
			position: relative;
			font-family: $font;
			font-size: 24px;
			color: white;
			top: (50px - 30px)/2;
		}

		.fa-caret-down{
			cursor: hand;
			position: relative;
			color: white;
			float: right;
			right: 30px;
			font-size: 30px;
			top: (50px - 33px)/2;

		}

		.fa-caret-up{
			@extend .fa-caret-down
		}

	}

	.sidebar-branding-expanded{
		@extend .sidebar-branding;
		@include animation(brandingExpand 0.2s forwards ease-out);
		.logout-button{
			display: block;
			float: right;
			position: relative;
			top: 25px;
			right: 10px;
			margin: 0 auto;
			width: 80%;
			height: 30px;
			border-radius: 5px;
			background-color: #e74c3c;
			text-align: center;
			.fa-sign-out{
				position: relative;
				color: white;
				font-size: 24px;
				top: (30px - 24px)/2;
			}
		}
	}


	.create-room {
		width:100%;
		position: relative;
		text-align: left;

		.subject-selection{
			position: relative;
			left: 15px;
			width: 80%;
			height: 25px;
			margin: 0 auto;
			margin-bottom: 7px;
			border: 0px;
			outline: 0px;
		}

		.create-room-input{
			position: relative;
			left: 15px;
			width: 80%;
			margin: 0 auto;
			height: 40px;
			align: right;
			font-family: $font;
			font-size: 14px;
			z-index: 0;
			border-top: 0px;
			border-bottom: 0px;
			border-left: 0px;
			border-right: 0px;
			text-indent: 10px;
			box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.2);
		}
		.create-room-input:focus{outline:none;}
	}


	.talk-heading{
		position: relative;
		font-family: $font;
		font-size: 18px;
		color: white;
		left: 15px;
	}


	.talk-room{
		align: left;
		width: 95%;
		height: 30px;
		background-color: rgba(185,195,199,0.2);
		//margin: 0 auto;
		border-radius: 2px;
		text-overflow: ellipsis;
		.room-name{
			left: 15px;
			position: relative;
			font-family: $font;
			color: white;
			font-size: 16px;
			top:(30px  - 20px)/2;
		}
	}

	.talk-room:hover{
		cursor: hand;
		background-color: #5C97BF;
	}

	.find-room{
		.subject-selection{
			position: relative;
			left: 15px;
			width: 80%;
			height: 25px;
			margin: 0 auto;
			margin-bottom: 7px;
			border: 0px;
			outline: 0px;
		}
		.search-field{
			position: relative;
			border-radius: 5px;
			left: 15px;
			width: 80%;
			height: 30px;
			font-family: $font;
			font-size: 14px;
			z-index: 0;
			border-top: 0px;
			border-bottom: 0px;
			border-left: 0px;
			border-right: 0px;
			text-indent: 10px;
			box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.2);
		}
		.search-field:focus{outline:none;}
	}

	.sidebar-branding:hover{
		background-color: #34495e;
	}

	.sidebar-show{
		@include animation(sidebarShow 0.5s forwards ease-out);
	}

	.sidebar-hide{
		@include animation(sidebarHide 0.5s forwards ease-out);
	}
}

.talk-container{

	position: absolute;
	border-box: box-sizing;
	@include calc(width, "100% - #{$sidebar-width}");
	height: 100%;
	display: block;
	right: 0px;

	@media (min-width: $device-min){
		@include animation(talkContainerShrink 0.5s forwards ease-out);
	}

	@media (max-width: $device-max){
		@include animation(talkContainerGrow 0.5s forwards ease-out);
	}

	.talk-header{
		display: inline-block;
		font-family: $font;
		font-weight: 300;
		position: fixed;
		width: 100%;
		background-color: #34495e;
		font-size: 24px;
		z-index: 1;
		top: 0;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		@media (min-width: $device-min){
			height: $talk-header-height-grow;
			//@include animation(talkHeaderGrow 0.5s forwards ease-out);
		}

		@media (max-width: $device-max){
			height: $talk-header-height-shrink;
			//@include animation(talkHeaderShrink 0.5s forwards ease-out);
			text-align: center;
		}

		.talk-title{
			display: inline-block;
			color: white;
			font-size: 24px;
			position: relative;
			left: 30px;
			@media (min-width: $device-min){
				top: ($talk-header-height-grow - 30px)/2;
			}
			@media (max-width: $device-max){
				left: 0px;
				font-size: 18px;
				top: ($talk-header-height-shrink - 24px)/2;
			}

		}

		.talk-members-button{
			text-align: center;
			color: white;
			display: inline-block;
			position: absolute;
			float: right;
			@media (min-width: $device-min){
				width: 50px;
				height: 50px;
				margin-left: 50px;
			}
			@media (max-width: $device-max){
				width: $talk-header-height-shrink;
				height: $talk-header-height-shrink;
				margin-left: 20px;	
			}

		}

		.fa:hover{
			cursor: hand;
		}

		.fa-ban{
			position: relative;
			left: 10px;
		}

		.fa-trash{
			position: relative;
			left: 15px;
		}


		.fa-user{
			position: relative;
			@media (min-width: $device-min){
				font-size: 24px;
				top: ($talk-header-height-grow - 30px)/2;
			}
			@media (max-width: $device-max){
				font-size: 18px;
				top: ($talk-header-height-shrink - 36px)/2;				
			}
		}

		.member-count{
			@extend .fa-user;
			left: 2px;
		}

		.member-list {
			text-align: left;
			display: inline-block;
			position: relative;
			background: #ecf0f1;
			width: 200px;
			min-height: 250px;
			z-index: 2;
			right: 50px;
			top: 22px;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.4);

			.member{

				display: inline-block;
				width: 100%;
				height: 50px;

				.member-name{
					position: relative;
					font-family: $font;
					font-size: 14px;
					color: #2c3e50;
					left: 15px;
					top:(50px - 23px)/2;
				}

				.avi{
					width: 30px;
					height: auto;
				}

				.member-name:nth-child(1){
					top: 10px;
				}
			}

		}

	}

	.talk-stream {
		width: 100%;
		@include calc(height, "100% - 75px");
		background-color: #ecf0f1;
		z-index: -1;
		overflow-y: auto;
		overflow-x: hidden;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}

	.talk-stream-button {
		margin-top: 50px;
		width: 100%;
		height: 50px;
		background-color: #bdc3c7;
		z-index: 0;
		position: relative;
		text-align: center;

		@media (min-width: $device-min){
			margin-top: 50px;		
		}
		@media (max-width: $device-max){
			margin-top: 40px;
		}

		.load-text{
			font-family: $font;
			position: relative;
			font-size: 18px;
			color: #7f8c8d;
			top: (50px - 22px)/2;
		}
	}

	.talk-stream-button:hover{
		cursor: hand;
		@include animation(talkStreamButtonHover 0.5s forwards ease-out);
	}

	.talk-blog{
		width: 100%;
		height: 100%;
		border: 0px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}

	.talk-message{
		background-color: #3498db;
		font-family: $font;
		font-weight: 300;
		color: white;
		display: block;
		min-height: 30px;
		position: relative;
		left: 10px;
		margin-top: 10px;
		z-index: 0;
		border-radius: 5px;
		float: left;
		@include animation(entityEnter 0.2s forwards ease-out);
		@media (min-width: $device-min){
			width: 75%;
		}

		@media (max-width: $device-max){
			width: 100%;
		}

		.talk-message-reply{
			background-color: red;
		}

		.talk-message-input{
			position: relative;
			border-radius: 5px;
			width: 250px;
			border: none;
			left: 10px;

		}
	}

	.talk-message-user{
		@extend .talk-message;
		background-color: #2ecc71;
		float: right;
	}

	.talk-message:nth-child(1){
		@extend .talk-message;
		@media (min-width: $device-min){
			margin-top: $talk-header-height-grow + 20px;
		}
		@media (max-width: $device-max){
			margin-top: $talk-header-height-shrink + 20px;
		}
	}

	.talk-message:last-child{
		@extend .talk-message;
		margin-bottom: 10px;
	}

	.talk-message-title{
		position: relative;
		top: 5px;
		left: 5px;
	}

	.talk-message-time{
		position: relative;
		top: 5px;
		left: 15px;
		font-size: 14px;
	}

	.talk-message-content{
		position: relative;
		left: 5px;
		top: 2px;
		bottom: 5px;
		width: 100%;
	}

	.talk-message-image{
		padding: 20px;
		max-height: 300px;
	}

	.talk-message-desmos{
		padding: 20px;
		height: 500px;
		width: 700px;
		border: 0px;
	}

	.talk-message-youtube{
		padding: 20px;
	}

	.talk-input{
		align: right;
		font-family: $font;
		font-size: 14px;
		position: fixed;
		bottom:0;
		width: 100%;
		height: 75px;
		z-index: 1;
		border-top: 1.0px solid lighten(#bdc3c7, 10%);
		border-left: 0px;
		background-color: #ecf0f1;
		resize: none;
		box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.75);
		overflow: auto;
	}

	.talk-input:focus{outline:none;}

}

.avi{
	float: left;
	position: relative;
	border-radius: 100%;
	border: solid 2px white;
	width:35px;
	height:35px;
	left: 10px;
	@media (min-width: $device-min){
		top: ($talk-header-height-grow - 39px)/2;
	}
	@media (max-width: $device-max){
		display: none;
	}
}
