/*BOURBON*/
@import '../bourbon/bourbon';

/*GOOGLE FONTS*/
@import url(https://fonts.googleapis.com/css?family=Lato);

/*VARS*/
$sidebar-width: 250px;
$talk-header-height: 50px;
$device-max: 700px;
$device-min: 701px;
$font: 'Lato','sans-serif';

body{
	margin:0;
	padding:0;	
}

a{
	cursor: hand;
	color: white;
}

.hidden{
	display: none;
}

h1{
	padding: 0px;
	margin: 0px;
}

.wrap {
	overflow-x: hidden;
}

.sidebar {
	width: $sidebar-width;
	height: 100%;
	background-color: #446CB3;
	position: relative;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	float: left;
	@include transition(left 0.5s ease-out);
	@media (min-width: $device-min){
		left: 0;
	}
	@media (max-width: $device-max){
		left: -$sidebar-width;
	}
	.sidebar-branding{
		width: 100%;
		height: 50px;
		background-color: #22313F;
		text-align: center;
		@include transition(height 0.2s ease-out);
		.sidebar-link{
			text-decoration: none !important;
		}

		.sidebar-branding-text{
			position: relative;
			font-family: $font;
			font-size: 24px;
			color: white;
			top: (50px - 30px)/2;
		}

		.fa-caret-down{
			cursor: hand;
			position: relative;
			color: white;
			float: right;
			right: 30px;
			font-size: 30px;
			top: (50px - 33px)/2;

		}

		.fa-caret-up{
			@extend .fa-caret-down
		}
	}
	.sidebar-branding-expanded{
		height: 100px;
		.logout-button{
			display: block;
			float: right;
			position: relative;
			top: 25px;
			right: 10px;
			margin: 0 auto;
			width: 80%;
			height: 30px;
			border-radius: 5px;
			background-color: #e74c3c;
			text-align: center;
			.fa-sign-out{
				position: relative;
				color: white;
				font-size: 24px;
				top: (30px - 24px)/2;
			}
		}
	}
	.sidebar-branding:hover{
		background-color: #34495e;
	}
	.create-room {
		width:100%;
		position: relative;
		text-align: left;

		.subject-selection{
			position: relative;
			left: 15px;
			width: 80%;
			height: 25px;
			margin: 0 auto;
			margin-bottom: 7px;
			border: 0px;
			outline: 0px;
		}

		.create-room-input{
			position: relative;
			left: 15px;
			width: 80%;
			margin: 0 auto;
			height: 40px;
			align: right;
			font-family: $font;
			font-size: 14px;
			z-index: 0;
			border-top: 0px;
			border-bottom: 0px;
			border-left: 0px;
			border-right: 0px;
			text-indent: 10px;
			box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.2);
		}
		.create-room-input:focus{outline:none;}
	}
	.talk-heading{
		position: relative;
		font-family: $font;
		font-size: 18px;
		color: white;
		left: 15px;
	}
	.talk-room{
		align: left;
		width: 95%;
		height: 30px;
		background-color: rgba(185,195,199,0.2);
		//margin: 0 auto;
		border-radius: 2px;
		text-overflow: ellipsis;
		.room-name{
			left: 15px;
			position: relative;
			font-family: $font;
			color: white;
			font-size: 16px;
			top:(30px  - 20px)/2;
		}
	}
	.talk-room:hover{
		cursor: hand;
		background-color: #5C97BF;
	}
	.find-room{
		.subject-selection{
			position: relative;
			left: 15px;
			width: 80%;
			height: 25px;
			margin: 0 auto;
			margin-bottom: 7px;
			border: 0px;
			outline: 0px;
		}
		.search-field{
			position: relative;
			border-radius: 5px;
			left: 15px;
			width: 80%;
			height: 30px;
			font-family: $font;
			font-size: 14px;
			z-index: 0;
			border-top: 0px;
			border-bottom: 0px;
			border-left: 0px;
			border-right: 0px;
			text-indent: 10px;
			box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.2);
		}
		.search-field:focus{outline:none;}
	}
}

.talk-container{

	position: absolute;
	border-box: box-sizing;
	overflow-x: hidden;
	@include calc(width, "100% - #{$sidebar-width}");
	height: 100%;
	display: block;
	float: left;
	right: 0px;
	@include transition(width 0.5s ease-out);
	@media (min-width: $device-min){
		@include calc(width, "100% - #{$sidebar-width}");
	}
	@media (max-width: $device-max){
		width: 100%;
	}

	.talk-header{
		display: inline-block;
		font-family: $font;
		font-weight: 300;
		position: fixed;
		width: 100%;
		background-color: #34495e;
		font-size: 24px;
		z-index: 1;
		top: 0;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
		height: 50px;

		.talk-title{
			display: inline-block;
			color: white;
			font-size: 24px;
			position: relative;
			left: 30px;
			@media (min-width: $device-min){
				top: ($talk-header-height - 30px)/2;
			}
			@media (max-width: $device-max){
				left: 0px;
				font-size: 18px;
				top: ($talk-header-height - 24px)/2;
			}

		}

		.talk-members-button{
			text-align: center;
			color: white;
			display: inline-block;
			position: absolute;
			float: right;
			@media (min-width: $device-min){
				width: 50px;
				height: 50px;
				margin-left: 50px;
			}
			@media (max-width: $device-max){
				width: $talk-header-height;
				height: $talk-header-height;
				margin-left: 20px;	
			}

		}

		.fa:hover{
			cursor: hand;
		}

		.fa-cog{
			position: relative;
			left: 10px;
		}

		.fa-user{
			position: relative;
			@media (min-width: $device-min){
				font-size: 24px;
				top: ($talk-header-height - 30px)/2;
			}
			@media (max-width: $device-max){
				font-size: 18px;
				top: ($talk-header-height - 36px)/2;				
			}
		}

		.member-count{
			@extend .fa-user;
			left: 2px;
		}

		.member-list {
			text-align: left;
			display: inline-block;
			position: relative;
			background: #ecf0f1;
			width: 200px;
			min-height: 250px;
			z-index: 2;
			right: 50px;
			top: 22px;
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.4);
			-moz-box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.4);
			box-shadow: 0px 0px 51px 0px rgba(0,0,0,0.4);

			.member{

				display: inline-block;
				width: 100%;
				height: 50px;

				.member-name{
					position: relative;
					font-family: $font;
					font-size: 14px;
					color: #2c3e50;
					left: 15px;
					top:(50px - 23px)/2;
				}

				.avi{
					width: 30px;
					height: auto;
				}

				.member-name:nth-child(1){
					top: 10px;
				}
			}

		}

	}

	.talk-stream {
		position: absolute;
		width: 100%;
		@include calc(height, "100% - 75px");
		background-color: #ecf0f1;
		z-index: -1;
		overflow-y: auto;
		overflow-x: hidden;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}

	.talk-stream-button {
		margin-top: 50px;
		width: 100%;
		height: 50px;
		background-color: #bdc3c7;
		z-index: 0;
		position: relative;
		text-align: center;
		@include transition(background-color 0.5s ease-out);

		@media (min-width: $device-min){
			margin-top: 50px;		
		}
		@media (max-width: $device-max){
			margin-top: 40px;
		}

		.load-text{
			font-family: $font;
			position: relative;
			font-size: 18px;
			color: #7f8c8d;
			top: (50px - 22px)/2;
		}
	}

	.talk-stream-button:hover{
		cursor: hand;
		background-color: #AAB0B3;
	}

	.talk-blog{
		width: 100%;
		height: 100%;
		border: 0px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	}

	.talk-message{
		width: 100%;
		background-color: #3FC380;
		font-family: $font;
		font-weight: 300;
		color: white;
		display: block;
		min-height: 25px;
		position: relative;
		//margin-top: 10px;
		z-index: 0;
		float: left;
		@include animation(entityEnter 0.2s forwards ease-out);
		
		/*hr { 
			display: block; height: 1px;
    		border: 0; border-top: 1px solid white;
    		margin: 1em 0; padding: 0; 
    	}*/

		.talk-message-reply{
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 25px;
			min-height: 20px;
			background-color: #66CC99;
		}

		.talk-message-title{
			position: relative;
			top: 5px;
			left: 5px;
		}

		.talk-message-time{
			position: relative;
			top: 5px;
			left: 15px;
			font-size: 14px;
		}

		.talk-message-content{
			position: relative;
			left: 5px;
			top: 2px;
			bottom: 5px;
			width: 100%;
		}

		.talk-message-image{
			padding: 5px;
			max-height: 300px;
		}

		.talk-message-desmos{
			padding: 20px;
			height: 500px;
			width: 700px;
			border: 0px;
		}

		.talk-message-youtube{
			padding: 20px;
		}

		.talk-message-input{
			background-color: white;
			text-indent: 10px;
			width: 100%;
			height: 50px;
		}
	}

	.talk-message:nth-child(1){
		@extend .talk-message;
		background-color: red;
		//margin-top: 0px !important;
		@media (min-width: $device-min){
			margin-top: $talk-header-height + 20px;
		}
		@media (max-width: $device-max){
			margin-top: $talk-header-height + 20px;
		}
	}

	.talk-message:last-child{
		@extend .talk-message;
		margin-bottom: 10px;
	}

	.talk-input{
		align: right;
		font-family: $font;
		font-size: 14px;
		position: fixed;
		bottom:0;
		width: 100%;
		height: 75px;
		z-index: 1;
		border-top: 1.0px solid lighten(#bdc3c7, 10%);
		border-left: 0px;
		background-color: white;
		resize: none;
		box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.75);
		overflow: auto;
		text-indent: 10px;

	}
	.talk-input:focus{outline:none;}
}

.teacher-tools{
	width: $sidebar-width;
	height: 100%;
	background-color: #EEEEEE;
	text-align: center;
	position: relative;
	z-index: 2;
	float: right;
	overflow-y: auto;
	overflow-x: hidden;
	right: -$sidebar-width;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	@include transition(right 0.1s ease-in);
	.invite-text{
		width: 100%;
		rows: 100;
	}
	.button-c{
		margin: 10px;
		position: relative;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		text-align: center;
		.fa {
			font-size: 30px;
			position: relative;
			top: (50px - 30px)/2;
		}
	}
	.button:hover{
		cursor: pointer;
	}

	.button-container{
		display: flex;
		justify-content: center;
		color: white;
		.mute{
			@extend .button;
			background-color: #4B77BE;
		}
		.mute:hover{
			background-color: #3A539B;
		}
		.trash{
			@extend .button;
			background-color: #D24D57;
		}
		.trash:hover{
			background-color: #C0392B;
		}
	}

	textarea{
		font-size: 14px;
		resize: none;
		width: 90%;
		
	}

	.send-mail{
		width: 90%;
		height: 50px;
		margin: 0 auto;
		background-color: #3FC380;
		color: white;
		.fa {
			font-size: 30px;
			position: relative;
			top: (50px - 30px)/2;
		}
	}
	.send-mail:hover{
		cursor: pointer;
		background-color: #00B16A;
	}
}

.teacher-tools-show{
	right: 0;
}

.avi{
	float: left;
	position: relative;
	border-radius: 100%;
	border: solid 2px white;
	width:35px;
	height:35px;
	left: 10px;
	@media (min-width: $device-min){
		top: ($talk-header-height - 39px)/2;
	}
	@media (max-width: $device-max){
		display: none;
	}
}
